#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hide {
    display: none !important;
}

input[type="checkbox"]:checked+label { /*Muda a label que fica logo depois do input que foi checkado, então não precisa usar JS*/
    text-decoration: line-through;
    /* Risca o texto */
    color: #888;
    /* Deixa o texto cinza */
    font-style: italic;
}